
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: darkcyan;
}

#container {
    width: 100%;
    display: flex;
    align-content: center;
}

#map {
    display: block;
    /*width: 800px;*/
    /*height: 500px;*/
    border: 1px solid cornflowerblue;
    margin: 10px auto 0;
}