/* system components settings */
/* ************************** */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
}

.tree-view {
    -fx-background-color: transparent;
}
/* ************************** */

.canvas_container_dark_bg {
    -fx-background-image: url("canvas_container_dark_bg.png");
}

.canvas_container_light_bg {
    -fx-background-image: url("canvas_container_light_bg.png");
}

.title_label_bg {
    -fx-background-color: darkgray;
}

.scroll_pane_bg {
    -fx-background-color: #e7e8e8;
}

.horizontal_separator_bar {
    -fx-background-color: darkgray;
}

.projectLabelView {
    -fx-background-color: darkgray;
}

.croppedTileView {
    -fx-background-color: cornflowerblue;
}

.croppedTileView:hover {
    -fx-background-color: rgba(181, 185, 188, 0.56);
}

.tabContentViewTilesPane {
    -fx-background-color: #e7e8e8;
}

.croppedTilesPathView {
    -fx-background-color: darkgray;
}

.layersView {
    -fx-background-image: url("layers_bg.png");
}

#test {
    -fx-background-image: url("canvas_container_light_bg.png");
}